@import './theme';

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: antiquewhite;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;

    @include useTheme {
        color: getVar('text');
    }

}

#app {
    position: relative;
    top: 10%;
}