@import './theme';

.el-notification {
    box-shadow: none !important;
    border: none !important;

    @include useTheme {
        background-color: getVar('bg');
        --el-notification-title-color: getVar('text');
        --el-notification-content-color: getVar('text');
        --el-notification-close-color: getVar('text');
    }

    --el-notification-width: 20vw;
    --el-notification-title-font-size:1.2vw;
    --el-notification-content-font-size:1vw;
    --el-notification-close-font-size:1vw;
}